.wrapper {
  width: 212px;

  @media (max-width: 567px) {
    width: 265px;
  }

  .boxInfo {
    margin: 0 auto;
    border-radius: 6px 6px 0px 0px;
    background: var(--accent-dull-color);
    max-width: 136px;
    padding: 7px 10px;
    color: var(--white-color);
    text-align: center;
    font-size: 14px;
    line-height: 14px;

    span {
      display: block;
      margin-bottom: 4px;
      font-weight: 500;
    }
  }

  .boxImg {
    position: relative;
    width: 100%;
    height: 288px;
    border-radius: 8px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (max-width: 567px) {
      height: 358px;
    }

    .ageRating {
      position: absolute;
      bottom: 16px;
      right: 16px;
      z-index: 2;
      padding: 5px 6px;
      border-radius: 4px;
      background-color: var(--main-color);
      color: var(--white-color);
      text-align: center;
      font-weight: 500;
      line-height: 20px;

      @media (max-width: 567px) {
        padding: 7px 10px;
      }
    }
  }

  .title {
    margin: 12px 0 8px;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;

    p {
      margin: 0;
      margin-bottom: 4px;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    span {
      display: block;
      color: var(--lightgrey-color);
      font-size: 15px;
      font-weight: 400;
      line-height: 16px;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .btn {
    margin-top: 12px;

    @media (max-width: 567px) {
      width: 100%;
    }
  }
}
