@import-normalize;

@import './variables.css';

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--main-color);
  line-height: 1.25;
}

body.locked {
  overflow-y: hidden;
}

.content {
  padding: 20px 0 40px;
}

.container {
  max-width: 1070px;
  padding: 0 15px;
  margin: 0 auto;
}
