@import-normalize;

@import './variables.css';

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--main-color);
  line-height: 1.25;
}

body.locked {
  overflow-y: hidden;
}

.content {
  padding: 20px 0 40px;
}

.container {
  max-width: 1070px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-auth-page {
  margin-top: 70px;
}

.section-auth-page .title {
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  line-height: 36px;

  @media (max-width: 567px) {
    font-size: 24px;
    line-height: 24px;
  }
}
