:root {
  --background-color: #fff6f0;
  --main-color: #252525;
  --white-color: #fff;
  --accent-color: #f55a5a;
  --accent-hover: #ff9696;
  --accent-selected: #e74848;
  --accent-dull-color: #b89e9e;
  --grey-color: #585858;
  --yellow-color: #e2b33a;
  --lightgrey-color: #949494;
  --outline-button-hover: #ffe9e2;
  --form-title-color: #704e4e;
  --success-color: #44c341;
}
