.form {
  max-width: 340px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (max-width: 567px) {
    max-width: 270px;
  }

  .info {
    color: var(--lightgrey-color);
    font-size: 16px;
  }

  .error {
    margin: 0;
    color: var(--accent-color);
    font-size: 18px;
    line-height: 20px;
  }

  .btns {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .disabled {
      background-color: #f5f5f5;
      color: var(--lightgrey-color);
    }
  }
}
