.wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-y: auto;

  @media (max-width: 475px) {
    padding: 20px;
  }

  .overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
  }

  .close {
    cursor: pointer;
    display: block;
    margin-left: auto;
  }

  .content {
    position: relative;
    padding: 16px 24px;
    box-sizing: border-box;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    overflow: auto;
    background-color: var(--white-color);
    z-index: 10;
    min-width: 400px;
    min-height: 300px;

    @media (max-width: 567px) {
      min-width: 100%;
      min-height: 250px;
      padding: 16px 18px;
    }

    @media (max-width: 375px) {
      min-height: 200px;
    }
  }
}
