.header {
  padding: 24px 0;
  margin-bottom: 10px;

  @media (max-width: 767px) {
    padding: 20px 0;
    margin-bottom: 0;
  }

  .wrapper {
    max-width: 1070px;
    padding: 0 15px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 280px;

      @media (max-width: 767px) {
        width: 240px;
      }

      @media (max-width: 567px) {
        width: 220px;
      }

      @media (max-width: 420px) {
        width: 165px;
      }
    }
  }
}
