.seat {
  position: relative;
  cursor: pointer;
  width: 100%;
  max-width: 28px;
  height: 36px;
  border: 2px solid var(--grey-color);
  border-radius: 7px;

  transition: border 0.2s ease;

  .seatNum {
    display: none;
    font-size: 13px;
    font-weight: 500;
    transform: translate(3px, 4px);

    @media (max-width: 992px) {
      display: block;
    }
  }

  &.comfort {
    border: 2px solid var(--yellow-color);
  }

  &:hover {
    border: 2px solid var(--accent-selected);
  }

  &:hover .popup {
    visibility: visible;
    opacity: 1;

    @media (max-width: 992px) {
      visibility: hidden;
      opacity: 0;
    }
  }

  &.taken {
    border: 2px solid var(--pale-lavender-blue);
    background-color: var(--pale-lavender-blue);

    span {
      display: none;
    }

    &:hover {
      cursor: default;
    }

    &:hover .popup {
      visibility: hidden;
      opacity: 0;
    }
  }

  &.chosen {
    border: 2px solid var(--accent-selected);
    background-color: var(--accent-selected);
    span {
      color: var(--white-color);
    }
  }

  .popup {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: -96px;
    left: -32px;
    z-index: 5;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75px;
    padding: 9px;
    background-color: var(--background-color);
    border-radius: 6px;

    transition: opacity 0.2s ease, visibility 0.2s ease;

    &::after {
      content: '';
      position: absolute;
      z-index: 2;
      bottom: -11px;
      left: 50%;
      transform: translateX(-50%);
      width: 20px;
      height: 11px;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      background-color: var(--background-color);
    }

    .popupSeatType {
      margin-bottom: 7px;
      text-transform: lowercase;
      color: var(--lightgrey-color);
      font-size: 11px;
      line-height: 11px;
    }

    .seatNums {
      margin-bottom: 6px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      color: var(--grey-color);
      font-size: 14px;
      line-height: 14px;

      span {
        display: block;
      }
    }

    .price {
      color: var(--success-color);
      font-size: 14px;
      font-weight: 500;
      line-height: 14px;
    }
  }
}
